/*
 * Jay's keyboard layout
 *
 * https://zmk.dev/docs/codes/keyboard-keypad
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
//                          -----------------------------          --------------------------------
//                         |  Q  |  W  |  E  |  R  |  T  |        |  Y  |  U   |  I   |  O  |  P   |
//                         |  A  |  S  |  D  |  F  |  G  |        |  H  |  J   |  K   |  L  | TAB  |
//                         |  Z  |  X  |  C  |  V  |  B  |        |  N  |  M   |  ,   |  .  | BSPC |
//                          -----------------------------          --------------------------------
//                                     |OPT ⌥| LWR | SPC |        | ENT | RSE  | SHFT |
//                                      -----------------          -------------------
                        bindings = <
   &trans   &kp Q &kp W      &kp E  &kp R &kp T                 &kp Y            &kp U   &kp I      &kp O     &kp P      &trans
   &trans   &kp A &kp S      &kp D  &kp F &kp G                 &kp H            &kp J   &kp K      &kp L     &kp TAB    &trans
   &trans   &kp Z &kp X      &kp C  &kp V &kp B                 &kp N            &kp M   &kp COMMA  &kp DOT   &kp BSPC   &trans
                  &kp LALT   &mo 1  &mt SPACE LG(SPACE)         &mt RET LC(RET)  &mo 2   &kp RSHFT
                        >;
                };
                lower_layer {
//                                      -----------------------------         --------------------------------
//                                     |   *  |  7  |  8  |  9  |  + |       |  $  |  `   |  '   |  "  |  ~   |
//                                     |  ESC |  4  |  5  |  6  |  - |       |  =  | LFT  | DWN  |  UP | RGT  |
//                                     |   0  |  1  |  2  |  3  |  / |       |  \  |  |   |  ;   |  :  | BSPC |
//                                      -----------------------------         --------------------------------
//                                                  |     |     |    |       |  ⌘  | OPT ⌥| SHFT |
//                                                   ----------------         -------------------
                        bindings = <
   &trans       &kp KP_MULTIPLY &kp N7    &kp N8      &kp N9   &kp PLUS       &kp DLLR    &kp GRAVE &kp N7   &kp N8 &kp N9    &trans
   &trans       &kp ESC         &kp N4    &kp N5      &kp N6   &kp MINUS      &kp EQUAL   &kp LEFT  &kp DOWN &kp UP &kp RIGHT &trans
   &trans       &kp N0          &kp N1    &kp N2      &kp N3   &trans         &trans      &trans    &trans   &trans &trans    &trans
                                          &none       &trans   &none          &kp RGUI    &kp RALT  &kp RSHFT
                        >;
                };

                raise_layer {
//                                   -----------------------------       -----------------------------
//                                  |  !  |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  |
//                                  |  <  |  {  |  (  |  [  |  _  |     |  –  |  ]  |  )  |  }  |  >  |
//                                  | TAB |BTCLR| BT1 | BT2 |     |     |     |     |  ?  |  !  | ESC |
//                                   -----------------------------       -----------------------------
//                                              |  ⌘  |  L5 |  L4 |     |     |     |     |
//                                               -----------------       -----------------
                        bindings = <
   &trans   &kp EXCL    &kp AT       &kp HASH      &kp DLLR      &kp PRCNT      &kp CARET     &kp AMPS   &kp KP_MULTIPLY  &kp LPAR   &kp RPAR  &trans
   &trans   &trans      &trans       &trans        &trans        &trans         &kp RA(MINUS) &kp EQUAL  &kp LBKT         &kp RBKT   &kp BSLH  &trans
   &trans   &kp TAB     &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &trans         &kp UNDER     &kp PLUS   &kp LBRC         &kp RBRC   &kp ESC   &trans
                                     &kp LGUI      &trans        &kp SPACE      &none         &trans     &none
                        >;
                };
        };
};
